md-toolbar.header(ng-controller="HeaderCtrl")
  div.md-toolbar-tools
    a.logo(ui-sref="home")
      img(src="../img/doccy.png")
    span(flex)
    a(ng-repeat="menuItem in menu" ui-sref="{{menuItem.state}}")
      md-button.menu
        | {{menuItem.name}}
    
    a(ng-if="currentUser" ui-sref="userProfile")
      div.md-icon-button.icon-button(aria-label="Comment")
        img.image(ng-src="{{currentUser.user.img_url || currentUser.img_url}}")
        md-tooltip {{currentUser.user.name.firstName || currentUser.name.firstName}} {{currentUser.user.name.lastName || currentUser.name.lastName}}

    a(ng-if="!currentUser" ui-sref="login")
      md-button
        | Sign In
    a(ng-if="currentUser")
      md-button.md-icon-button(aria-label="Sign out" ng-click="logout()")
        i.md-accent.fa.fa-sign-out
        md-tooltip Sign out
div.login
  .box
    #header
      #cont-lock
        i.material-icons.lock lock
      #bottom-head
        h1#logintoregister LOGIN
    form(method="post" name="loginForm" ng-submit="login()")
      .group
        //username
        input.inputMaterial(ng-model="user.email" name="email" type="email" required="true")
        span.highlight
        span.bar(ng-class="{danger: loginForm.email.$invalid && loginForm.email.$dirty}")
        span.highlight(ng-show="loginForm.email.$invalid && loginForm.email.$dirty") Invalid Email
        label Email
      .group
        //password
        input.inputMaterial(ng-model="user.password" name="password" type="password" ng-minlength= "6" required="true")
        span.highlight
        span.bar(ng-class="{danger: loginForm.password.$invalid && loginForm.password.$dirty}")
        span.highlight(ng-show="loginForm.password.$invalid && loginForm.password.$dirty") Password too short
        label Password
      button#buttonlogintoregister(type="submit" ng-disabled="loginForm.$invalid") Login
      hr
      p.sign  Or connect with 
        .socialMedia
          a#facebook.fa.fa-facebook-square.fa-3x( ng-click="facebookLogin($event)")
          a#google.fa.fa-google-plus-square.fa-3x(ng-click="googleLogin()")
      #footer-box
        p.footer-text
          | Don't have an account?
          a.sign-up(ui-sref="signUp")  Register
