md-toolbar.header(ng-controller="HeaderCtrl")
  div.md-toolbar-tools
    a.logo(ui-sref="home")
      img(src="../img/doccy.png")
    span(flex)
    a(ng-repeat="menuItem in menu" ui-sref="{{menuItem.state}}")
      md-button.menu
        | {{menuItem.name}}
    
    a(ng-if="currentUser" ui-sref="userProfile")
      div.md-icon-button.icon-button(aria-label="Comment")
        img.image(ng-src="{{currentUser.user.img_url || currentUser.img_url}}")
        md-tooltip {{currentUser.user.name.firstName || currentUser.name.firstName}} {{currentUser.user.name.lastName || currentUser.name.lastName}}

    a(ng-if="!currentUser" ui-sref="login")
      md-button
        | Sign In
    a(ng-if="currentUser")
      md-button.md-icon-button(aria-label="Sign out" ng-click="logout()")
        i.md-accent.fa.fa-sign-out
        md-tooltip Sign out

div.main-doc
  div.recent-documents
    h3 Recent Documents
    div.recent-doc-list
      md-grid-list.gridlist(md-cols-xs='1' md-cols-sm='2', md-cols-md='3', md-cols-gt-md='7', md-row-height-md='1:1.3' md-row-height-gt-md='1:1.3', md-row-height-sm='1:1.3', md-row-height-xs='2:2' md-gutter='8px', md-gutter-gt-sm='24px')
        md-grid-tile.welcome-docs-preview(layout='column' ng-repeat="document in documents | limitTo: 4")
          md-card.ripple-container.welcome-preview-cont(md-ink-ripple ng-click='previewDocModal({id: document._id})')
            .md-padding(flex)
              h4.preview-content {{document.title | limitTo: 50}}
              p(style='font-size: x-small' ng-bind-html="document.content")
  
  div.all-documents
    h3 All Documents
    div.recent-doc-list    
      md-grid-list.gridlist(md-cols-xs='1' md-cols-sm='2', md-cols-md='3', md-cols-gt-md='5', md-row-height-md='1:1.3' md-row-height-gt-md='1:1.3', md-row-height-sm='1:1.3', md-row-height-xs='2:2' md-gutter='8px', md-gutter-gt-sm='24px')
        md-grid-tile.welcome-docs-preview(layout='column' ng-repeat="document in documents")
          md-card.ripple-container.welcome-preview-cont(md-ink-ripple ng-click='previewDocModal({id: document._id})')
            .md-padding(flex)
              h4.preview-content {{document.title | limitTo: 50}}
              p(style='font-size: x-small' ng-bind-html="document.content")
