$color: #ffffff;
html {
  height: 100%;

  background-color: $color;

  font-family: "Roboto";
  overflow: hidden;
}


////////////////////
.home-main {
  height: 100%;
  background: linear-gradient(to bottom, #ecf0f1 0%,#ecf0f1 50%,#000000 50%,white 50%,white 100%);
  border: 0.5px solid #ecf0f1;

  .welcome-note {
    width: 60%;
    height: 15%;
    margin: 3% 0 0 20%;
    border: 1px solid #000;
  }

  .welcome-images {
    width: 100%;
    height: 32%;
    margin-top: 3%;

    .wImages {
      width: 25%;
      height: 100%;
      border: 1px solid #000;
      float: left;
      margin-left: 6%;
      background: url(../img/doccy1.png) center center no-repeat;
      background-size: contain;
    }
  }

  .welcome-description {
    width: 100%;
    height: 15%;
    margin-top: 2%;

    .wdescr {
      width: 30%;
      height: 100%;
      border: 1px solid #000;
      float: left;
      margin-left: 2.5%;
    }
  }

  .signup-button {
    width: 20%;
    height: 10%;
    border: 1px solid #000;
    margin: 2% 0 0 40%;
  }
}
////////////////////

md-content {
  overflow: hidden;
  background: linear-gradient(to bottom, #ecf0f1 0%,#ecf0f1 50%,#000000 50%,white 50%,white 100%);
  height: 700px;
}

md-toolbar.md-hue-2:not(.md-menu-toolbar) {
  background-color: #87d37c;
}

md-toolbar:not(.md-menu-toolbar) {
  background-color: #ecf0f1;
}

.dialog-box {
width: 400px;
height: 650px;
}

.modalForm {
  height: 480px;
}

body {
  width: 100%;
  height: 100%;

  text-transform: none;

  font-family: "Roboto", "Open Sans", "Arial", "Verdana", sans-serif;
  font-size: 1em;
}

header {
  overflow: auto;

  height: 50px;
  margin: 0 auto;
  padding: 10px;

  text-shadow: 0 0 3px #333;
  .header-logo {
    img {
      float: left;

      height: 28px;
    }
  }
  a {
    margin-top: 10px;

    color: #000;

    font-size: 8px;
  }
}

.modal {
  width: 380px;
  border-radius: 3%;
  overflow: hidden;
}

.profile-header {
  height: 200px;
}

.profile-pic {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0 155px;
}

.profile-picture {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0 90px;
}

.user-profile {
  margin: 10px 10px 0 80px;
}

.main {
  height: 700px;
  background-color: #87D37C !important;
}

.copyright {
  margin-left: 50%;
}

h1 {
  margin: 0 0 5px 0;
  &.md-padding {
    margin: 0;
  }
}

.logo {
  margin-left: 40px;
}

.icon-button {
  width: 50px;
}
.image {
  width: inherit;

  border-radius: 50%;
}

  .md-button:not(.md-raised) {
  color: #32CE74 !important;
}

.modalLogin {
  display: block;

  width: 330px;
  margin: 20px auto;
  padding: 10px;

  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;

  color: #32CE74;
  border: 0;
  border-radius: 2px;
  background: #cfd8dc;

  font-size: 16px;
  font-weight: 300;
}
.modalLogin:active {
  color: #263238;
  background: #32CE74;
}
.modalLogin:valid {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;

  color: #FFF;
  background: #32CE74;
}

.welcome {
  margin-left: 38% !important;
}

.text-center {
  text-align: center;
}

/* BOX LOGIN */
.box {
  position: relative;
  top: 40px;
  right: 0;
  left: 0;

  overflow: hidden;

  width: 370px;
  height: 525px;
  margin: auto;
  margin-bottom: 100px;

  color: #666;
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.signUp {
  width: 400px;
  height: 550px;
  margin-top: 30px;
}

#header {
  position: relative;

  width: 100%;
  height: 100px;
  margin-bottom: 30px;

  background: #32CE74;
}
#cont-lock {
  position: relative;

  width: 100%;
  height: 65px;
}
.lock {
  position: absolute;
  top: 25;
  right: 0;
  bottom: 0;
  left: 0;

  margin: 0;

  text-align: center;

  color: #ecf0f1;

  font-size: 28px;
  line-height: 65px;
}
#bottom-head {
  position: relative;

  height: 35px;

  background: #27ae60;
}
#bottom-head::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  width: 0;
  height: 0;
  margin: auto;

  content: '';

  border-top: 7px solid rgba(0,0,0,0);
  border-right: 7px solid rgba(0,0,0,0);
  border-bottom: 7px solid white;
  border-left: 7px solid rgba(0,0,0,0);
}
.box {
  h1 {
    margin-top: 0;
    margin-left: 20px;

    color: #f2f2f2;

    font-size: 16px;
    font-weight: bold;
    line-height: 35px;
  }
  button {
    display: block;

    width: 330px;
    margin: 20px auto;
    padding: 10px;

    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;

    color: #32CE74;
    border: 0;
    border-radius: 2px;
    background: #cfd8dc;

    font-size: 16px;
    font-weight: 300;
  }
  p {
    text-align: center;

    font-size: 14px;
  }
  button:active {
    color: #263238;
    background: #32CE74;
  }
  button:valid {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;

    color: #FFF;
    background: #32CE74;
  }
}
.group {
  position: relative;

  margin-bottom: 35px;
  margin-left: 40px;
}
.inputMaterial {
  display: block;
  margin-top: 30px;
  width: 300px;
  padding: 10px 10px 10px 5px;

  border: none;
  border-bottom: 1px solid rgba(#757575, 0.39);

  font-size: 18px;
}
.inputMaterial:focus {
  outline: none;
}
/* LABEL ======================================= */
label {
  position: absolute;
  top: 10px;
  left: 5px;

  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  transition: 0.2s ease all;
  pointer-events: none;

  color: #999;

  font-size: 14px;
  font-weight: normal;
}
/* active state */
.inputMaterial:focus ~ label,
.inputMaterial:valid ~ label {
  top: -20px;

  color: #32CE74;

  font-size: 14px;
}
/* BOTTOM BARS ================================= */
.bar {
  position: relative;

  display: block;

  width: 315px;
}
.bar:before,
.bar:after {
  position: absolute;
  bottom: 1px;

  width: 0;
  height: 2px;

  content: '';
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  transition: 0.2s ease all;

  background: #32CE74;
}
.danger.bar:after,.danger.bar:before{
  background:red !important;

}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
/* active state */
.inputMaterial:focus ~ .bar:before,
.inputMaterial:focus ~ .bar:after {
  width: 50%;
}
/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
#footer-box {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 50px;

  background: #1C904D;
}
.footer-text {
  color: #f2f2f2;
}
.sign-up {
  cursor: pointer;

  color: white;
}
.sign-up:hover {
  color: #32CE74;
}
$transition: all 0.3s;
$shadow-L1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-L2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-L3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
body {
  background: #eceff1;
}
a {
  text-decoration: none;
}
.sign {
  color: #757575;

  font-size: 12px;
}
.socialMedia {
  width: 100%;

  text-align: center;
}

md-select:not([disabled]):focus .md-select-value {
  border-bottom-color: #32ce74;
}

.user-header {
  background-color: #3FC380 !important;
}

.create-doc {
  height: 450px;
}

.add-document-btn {
  margin: 57% 0 0 8%;

}

.doc-modal-header {
  background-color: #3fc380 !important;
}

.user-details {
  margin-top: 50px;
}

.user-documents-msg {
  margin: 25% 25%;
  color: rgba(10, 60, 50, 0.6);
  text-shadow: 1px 3px 5px #eee inset;
  font-weight: bolder;
}

#google {
  margin: 3px;

  cursor: pointer;

  color: #b71c1c;
}
#facebook {
  margin: 3px;

  cursor: pointer;

  color: #283593;
}

.select {
  border-bottom: 0 !important;
}

.highlight {
  color: red;
}

.begin {
  margin-left: 2%;
}

.footerColor {
  color: #fff;
  font-size: 13px;
}

.footer {
  height: 30px;
  background: #1C904D;
}
